.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    height: auto;    
    min-height: 1000px;
    max-height: 2500px;
}
 
