.none{
    text-decoration: none ; 
    color: white
}

.nav-center{
    display: flex;
    justify-content: space-evenly;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
}

.nav-head{
    margin-bottom: 1%;
    background-color: black;
}

